@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.DisplayName</td>
                <td>@user.UserPrincipalName</td>
            </tr>
        }
        </tbody>
    </table>
</div>