@page
@model Incremental.Pages.PowerUserModel
@{
}
<div class="tenor-gif-embed" data-postid="27212846" data-share-method="host" data-aspect-ratio="1.78771" data-width="100%"><a href="https://tenor.com/view/jeremy-clarkson-speed-speed-and-power-gif-27212846">Jeremy Clarkson Speed GIF</a>from <a href="https://tenor.com/search/jeremy+clarkson-gifs">Jeremy Clarkson GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>